*{ 
    margin: 0;
    padding: 0;
    border: 0; 
}

.box1{
    background-image: url(image/Bijoy.png); background-repeat: no-repeat; background-position: center;
    margin: 3% 5%; float: left; padding-top: 60px;
    height: 550px; width: 500px;}

    .box2{
        padding-top: 0%;
        background-image: url(image/logo.png); background-repeat: no-repeat; background-position: bottom center;        
        margin: 2% 5%;
        background-color: #ff0000; float: left;
        height: 550px; width: 500px;}
    .box2 h1{
       
        color: #0c6c4e; font-size: 60px; text-align: center; background-color: white; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }